<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: coral;
        }
        * {
            box-sizing: border-box;
        }
        .row {
            display: flex;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            flex: 33%;
            /*flex-basis: 33%;*/
            padding: 10px;
        }

        #headline{
            text-align: center;
        }
    </style>
</head>
<body>
<h1 id="headline">Dog Home</h1>
<div th:if="${session.loginstatus != 'yes'}">
    <form method="post" action="/dogs/login" >
        <input type="text" name="username" placeholder="username" value="doglover">
        <input type="text" name="password" placeholder="password" value="vow">
        <input type="submit" value="Log in" >
    </form>
</div>
<div th:if="${session.loginstatus == 'yes'}" class="row">
    <div class="column" style="background-color:#aaa">
        <h2>Add owner:</h2>
        <form>
            <input type="text" placeholder="name">
            <input type="submit">
        </form>
        <h2>Owners:</h2>
        <form action="/dogs/adopt" method="post" th:each="owner : ${owners}">
            <input type="text" th:value="${owner.firstName}" name="firstName">
            <input type="hidden" th:value="${owner.id}" name="id">
            <select name="dogid">
                <option th:each="dog : ${ownerlessdogs}" th:value="${dog.id}" th:text="${dog.name}" ></option>
            </select>
            <input type="submit" value="Save">
        </form>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Adopt a dog</h2>
        <h3>Not implemented yet.</h3>
    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>Add dog:</h2>
        <form method="post" action="/dogs/addDog">
            Name:
            <input type="text" name="name"></br>
            Image URL:
            <input type="text" name="imageUrl">
            <select name="owner" >
                <option th:each="owner:${owners}" th:value="${owner.id}" th:text="${owner.firstName}"></option>
            </select>
            <input type="submit" value="Add">
        </form>
        <div th:each="dog:${dogs}">
            <h3 th:text="${dog.name}"></h3>
            <img width="400" th:src="${dog.imageUrl}">
        </div>
    </div>
</div>

</body>
</html>